*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e1caca;
}




.header ul{
    display: flex;
    list-style-type: none;
    width: 300px;
    margin: auto;
    list-style: none;
    justify-content: space-around;
}

.header ul li{
    padding: 10px;
}

.header .link h2{
    margin: 0;
}

.header .link {
    text-decoration: none;
}
.link2 h2{
    text-decoration: none;
    font-size: 140px;
}

/* .link h2{
    text-decoration: none;
    list-style: none;
    
} */

.college .link{
    text-decoration: none;
    font-size: 20px;
    margin: 15px;
    
}