/* .heading{
    color: red;
    background-color: black;
    text-align: center;
}

.img-style{
    width: 200px;;

}

.user-card{
    margin: 10px;
    width: 200px;
    border: 1px solid black;
    box-shadow: 1px 1px 3px 1px black;
}

.text-wrap
{
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
} */